<style></style>

<template>
    <div class="component-container">
        <div class="form-group">
            <label for="task-type-id">
                Task Type:
            </label>
            <select v-model="taskType" 
                id="task-type-id"
                class="form-control"
                size="5"
            >
                <option v-if="loading">loading...</option>
                <option
                    v-for="type in taskTypes"
                    :key="type.id"
                    :value="type"
                >
                    {{type.id}}. {{type.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="task-status-id">
                Current Status:
            </label>
            <select v-model="currentStatusId" 
                id="task-status-id"
                class="form-control"
                size="5"
            >
                <option :value="null" v-if="taskType !== null">any</option>
                <option
                    v-for="status in taskStatuses"
                    :key="status.id"
                    :value="status.id"
                >
                    {{status.name}}
                </option>
            </select>
        </div>
        <div class="form-group" style="line-height: 2.5;">
            <label>Status Date:</label>
            <div class="form-inline">
                <label for="start-date">From:</label>
                <input type="date" v-model="startDate" class="form-control" id="start-date">
            </div>
            <div class="form-inline">
                <label for="end-date">To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="date" v-model="endDate" class="form-control" id="end-date">
            </div>
        </div>
        <button class="btn btn-primary" @click="$emit('input', $data)">
            Get Data
        </button>        
    </div>
</template>

<script>
    export default {
        components: {},
        props: {
            value: {
                required: true,
                type: Object
            },
            results: {
                required: false,
                type: Array
            }
        },
        data() {
            return {
                loading: false,
                taskTypes: [],
                startDate: null,
                endDate: null,
                taskType: null,
                currentStatusId: null,
                showDateRange: 0,
            }
        },
        computed: {
            taskStatuses() {
                if (this.taskType !== null) {
                    return this.taskType.task_statuses
                }
                return [];
            },
        },
        watch: {
            taskType() {
                this.clearCurrentStatusId();
                this.emitInput()
            },
            currentStatusId() {
                this.emitInput()
            },
            startDate() {
                this.emitInput()
            },
            endDate() {
                this.emitInput()
            },
            $data: function() {
                console.log($data);
                this.$emit('input', $data)
            }
        },
        methods: {
            emitInput() {
                console.log('emitInput')
                this.$emit('input', {
                    startDate: this.startDate,
                    endDate: this.endDate,
                    taskType: this.taskType,
                    currentStatusId: this.currentStatusId
                });
            },
            getTaskTypes() {
                this.loading = true;
                axios.get('/api/task-types?with=taskStatuses')
                    .then(response => {
                        this.loading = false;
                        this.taskTypes = response.data;
                    })
                    .catch(error => {
                        this.loading = false;
                        console.log(error);
                    })
            },
            clearCurrentStatusId() {
                this.currentStatusId = null
            }
        },
        created() {
            this.getTaskTypes();
        }
    
}
</script>