<style>
    .task-manager-component label {
        font-weight: bold;
    }
    .task-manager-component .border-left {
        margin-left: 1em;
        border-left: solid 1px #eee;
        padding-left: 1em;
        display: inline-block;
    }
    .task-manager-component .overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(255, 255, 255, .5);
    }

</style>

<template>
    <div class="task-manager-component">
        <div class="form">
            <div class="row">
                <div class="col-sm-5">
                    <search-form v-model="searchParams" v-on:input="getData"></search-form>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <label style="margin-right: 20px;">Current Status:</label>
                            <select v-model="newStatus" class="form-control" style="width: 150px; display: inline-block;">
                                <option :value="null">Select&hellip;</option>
                                <option v-for="status in newStatusOptions" :key="status.id" :value="status">
                                    {{ status.name }}
                                </option>
                            </select>
                        </div><!-- .col -->
                        <div class="col-sm-6">
                            <label style="margin-right: 20px;">Last Updated:</label>
                            <input type="date" v-model="newStatusDate" class="form-control" style="width: 150px; display: inline-block;">
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                            <label style="margin-right: 20px;">Date Due:</label>
                            <input type="date" v-model="newDateDue" class="form-control" style="width: 150px; display: inline-block;">
                        </div><!-- .col -->
                        <div class="col-sm-6">
                            <transition name="fade">
                                <span v-show="results.length > 0">
                                    <button class="btn btn-primary" @click="updateChecked">Update</button>
                                    <button class="btn btn-danger" style="margin-left: 10px;" @click="deleteChecked">Delete</button>
                                    <button class="btn btn-info" style="margin-left: 10px;" @click="exportData">Download</button>
                                </span>
                            </transition>
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <hr>
                    <div class="clearfix">
                        <transition-group name="fade">
                            <div class="pull-right" v-show="search && results.length > 0" :key="0">
                                Total Records: 
                                {{ (searching) ? '&hellip;' : results.length }}
                            </div>
                            <div v-if="searching || updating" :key="1">
                                {{ (searching) ? "Loading&hellip;" : "updating&hellip;"}}
                            </div>
                        </transition-group>
                    </div>
                    <div style="position: relative">
                        <transition name="fade">
                            <div class="overlay" v-if="(searching && results.length > 0) || updating"></div>
                        </transition>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <span v-if="updating">&hellip;</span>
                                        <input type="checkbox" v-model="checkToggle" @change="toggleAllCheckedResults()" v-else>
                                    </th>
                                    <th>Task Owner</th>
                                    <th>Current Status</th>
                                    <th>Last Updated</th>
                                    <th>Date Due</th>
                                </tr>
                            </thead>  
                            <tbody v-if="results.length == 0">
                                <tr>
                                    <td colspan="5" class="text-center text-muted">
                                        {{(searching) ? 'loading...' : 'No results found'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr v-for="(result, idx) in results" :key="result.id">
                                    <td>
                                        <span v-if="updating">&hellip;</span>
                                        <input type="checkbox" @click="toggleCheck(idx)" v-model="result.checked" v-else>
                                    </td>
                                    <td><a :href="result.owner.url">{{ result.owner.name }}</a></td>
                                    <td>{{ result.task_status.name }}</td>
                                    <td>{{ result.updated_at | formatDate }}</td>
                                    <td>{{ result.date_due | formatDate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import SearchForm from './SearchForm'

    export default {
        components: {
            SearchForm
        },
        data() {
            return {
                searchParams: {
                    startDate: null,
                    endDate: null,
                    taskType: null,
                    currentStatusId: null,
                },
                loading: false,
                searching: false,
                newStatus: null,
                newStatusDate: moment().format('YYYY-MM-DD'),
                newDateDue: null,
                results: [],
                updating: false,
                cancelSource: null,
                checkToggle: 0
            }
        },
        filters: {
            formatDate: function (dateString, format = 'MM/DD/YY') {
                if (moment(dateString).isValid()) {
                    return moment(dateString).format(format)
                }
                return null
            }
        },
        computed: {
            newStatusOptions() {
                return this.taskStatuses.filter(status => status.id != this.searchParams.currentStatusId)
            },
            taskStatuses: function () {
                if (this.searchParams.taskType !== null) {
                    return this.searchParams.taskType.task_statuses
                }
                return [];
            },
            searchUrl: function () {
                if (this.searchParams.taskType) {
                    let url = '/api/tasks?task_type_id='+this.searchParams.taskType.id+'&orderBy[attr]=updated_at&orderBy[dir]=asc'
                    if (this.searchParams.currentStatusId) {
                        url += '&task_status_id='+this.searchParams.currentStatusId
                    }
                    if (this.searchParams.startDate) {
                        url += '&due_start='+this.searchParams.startDate
                    }
                    if (this.searchParams.endDate) {
                        url += '&due_end='+this.searchParams.endDate
                    }
                    return url
                }
                return null;
            },
            search() {
                return this.searchParams.taskType
            },
            checkedResults() {
                return this.results.filter(result => result.checked)
            }
        },
        methods: {
            getData() {
                this.cancelSearch();
                const cancelToken = axios.CancelToken;
                this.cancelSource = cancelToken.source();

                if (this.searchUrl !== null) {
                    this.searching = true;
                    axios.get(this.searchUrl, { cancelToken: this.cancelSource.token })
                        .then(response => {
                            this.results = response.data.data.map(result => {
                                result.checked = false;
                                return result;
                            });
                            this.searching = false;
                        })
                        .catch(thrown => {
                            if (axios.isCancel(thrown)) {
                                console.log('Request canceled', thrown.message);
                            } else {
                                console.log(thrown);
                                this.searchCancelSource = null;
                            }
                        })
                }
            },
            cancelSearch() {
                if (this.cancelSource) {
                    this.cancelSource.cancel('Start new search, stop active search');
                    this.searchCancelSource = null;
                }
            },
            exportData() {
                if (this.results.length == 0) {
                    alert('There wasn\'t anything to export. Please try another search.');
                    return;
                }
                let rows = this.checkedResults.map(result => {
                    return {
                        'Task ID': result.id,
                        'Last Name': result.owner.last_name,
                        'First Name': result.owner.first_name,
                        'Participant ID': result.owner.id,
                        'Task Type': result.task_type_id,
                        'Status': "\"" + result.task_status.name + "\"",
                        'Last Updated': moment(result.updated_at).format('YYYY-MM-DD'),
                        'Due Date': moment(result.date_due).format('YYYY-MM-DD'),
                    }
                });
                let csvContent = 'data:text/csv;charset=utf-8,';
                csvContent += '"Task ID","Last Name","First Name","Participant ID","Task Type","Status","Last Updated","Due Date"'+"\r\n";
                rows.forEach(row => {
                    csvContent += Object.values(row)+"\r\n";
                });
                
                let encodedUri = encodeURI(csvContent);
                let link = document.createElement('a');
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", "Download_"+moment().format('YYYY-MM-DD_HH-mm-ss')+'.csv');
                document.body.appendChild(link);
                link.click();
            },
            updateChecked() {
                if (this.results.length == 0) {
                    return
                }
                this.updating = true;
                Promise.all(this.checkedResults.map(result => {
                    let data = {
                        task_status_id: this.newStatus ? this.newStatus.id : result.task_status.id, 
                        updated_at: moment(this.newStatusDate).format('YYYY-MM-DD'),
                        date_due: this.newDateDue ? moment(this.newDateDue).format('YYYY-MM-DD') : result.date_due
                    };
                    return axios.put('/api/tasks/'+ result.id, data);
                })).then(responses => {
                    this.getData();
                    this.updating = false;
                }).catch(errors => {
                    console.log(errors);
                });
            },
            deleteChecked() {
                if (this.results.length == 0) {
                    return
                }
                this.updating = true;
                Promise.all(this.checkedResults.map(result => {
                    return axios.delete('/api/tasks/'+ result.id)
                })).then(responses => {
                    this.getData();
                    this.updating = false;
                }).catch(errors => {
                    console.log(errors);
                });
            },
            toggleAllCheckedResults() {
                this.results.forEach((result, idx) => {
                    this.results[idx].checked = this.checkToggle == 1 ? true : false
                })
            },
            toggleCheck(idx) {
                this.results[idx].checked = !this.results[idx].checked
            } 
        }
    }
</script>